@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
$blue-color: #0062cc;
$red-color: #EE2B45;
*{
  box-shadow: none !important;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  background: #E5E5E5;
  color: #000;
}

h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 80px;
}

.form-group {
  position: relative;
  margin-bottom: 1.5rem;
  .invalid-feedback {
    position: absolute;
    top: 100%;
  }
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.custom-btn {
  padding: 0 30px 0 19px;
  min-width: 100px;
  border-radius: 5px 5px 20px 5px;
  font-style: normal;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  height: 40px;
}

.btn-primary {
  background-color: $blue-color;
  border-color: $blue-color;

  &:hover {
    background-color: #0d4b8d;
    border-color: #0d4b8d;
  }
}

.btn-danger {
  background-color: $red-color;
  border-color: $red-color;

  &:hover {
    background-color: #cf2138;
    border-color: #cf2138;
  }
}


// table
.big-table-wrap {
  background-color: #404958;
  padding: 0 8px 8px 8px;
  border-radius: 7px;
  .big-table{
    background-color: #404958;
    width: 100%;
    border: none;
    border-radius: 7px;
    overflow: hidden;
    thead {
      color: #fff;
    }
    tbody {
      background-color: #d3d2d2;
      tr{
        &:nth-child(odd) {
            background-color: #d3d2d2;
        }
        &:nth-child(even) {
            background-color: #c8c7c7;
        }
        &:hover{
          background-color: #c3c2c2;
        }
      }
    }
  }
}

.big-table-buttons {
  thead {
    tr{
      th{
        &:last-child{
          width: 0;
        }
      }
    }
  }
  tbody {
    tr{
      td{
        &:last-child{
          transition: .2s;
          display: flex;
          width: max-content;
          button {
            .table-ico {
              color: #131524;
              font-size: 20px;
              transition: .1s;
              &:hover {
                transform: scale(.90);
              }
            }
            .table-ico-primary {
              &:hover {
                color: $blue-color;
              }
            }
            .table-ico-danger {
              &:hover {
                color: $red-color;
              }
            }
          }
        }
      }
    }
  }
}

.big-table-select-column {
  thead {
    tr{
      th{
        &:first-child {
          width: 0;
        }
      }
    }
  }
  tbody {
    tr{
      td:first-child {
        // background-color: #404958;
      }
      &:first-child {
        td:nth-child(2) {
          border-top-left-radius: 7px; 
        }
      }
      &:last-child {
        &:first-child {
          // background-color: #404958;
        }
      }
    }
  }
}

.big-table-pointer {
  tbody {
    tr{
      cursor: pointer;
    }
  }
}

// table end 


.modal  {
    background-color: #ffffff0c;
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .modal {
    background-color: #ffffff0c;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

.pointer {
  cursor: pointer;
}


.custom-pagination {
  margin: 0;
  .page-item {
    .page-link {
      background-color: inherit;
      border: none;
      color: #fff;
    }
  }
  .active {
    .page-link {
      color: red;
    }
  }
}



.department-parents-wrap {
  color: rgb(107, 107, 107);
  
  label {
    cursor: pointer;
    &:hover {
      color: #333;
    }
  }
  label:last-child {
    color: #000;
  }
}
.select-department {
  color: #000;
  overflow-y: scroll;
  height: 122px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0;
  li {
    list-style: none;
    width: 100%;
    padding: 0 1rem;
    cursor: pointer;
    &:hover {
     background-color: #eeeeee;
    }
    
  }
  .active-department {
    background-color: #0062cc;
    color: #fff;
    &:hover {
     background-color: #085ab3;
    }
  }
}